.profile-card {
    min-width: 400px;
    border: 2px solid green;
    border-radius: 8px;
    margin: 5rem 40rem;
    text-align: center;
    background-color: beige;
    display: inline-block;
}   

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-size: 17px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px 0 10px 0;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}